.btn-previous {
  transition: transform ease 0.5s;
  svg {
    transform: rotateZ(0deg);
    transition: transform ease 0.5s;
  }
  &:hover, :active {
    transform: scale(1.1);
    svg {
      transform: rotateZ(-360deg);
    }
  }
}


