@use "../../../abstracts/index" as abs;

.landscape-card {
  position: relative;
  word-wrap: break-word;
  box-sizing: inherit;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-main-300);
    width: 100%;
    border: 0.2rem solid var(--clr-dark-cosmos-300);
    border-radius: 0.2rem;
    box-shadow: 0 0.35rem 0 var(--clr-dark-cosmos-300);
    &:not(.landscape-card__container--article-card) {
      max-width: 500px;
    }
    &--article-card{
      max-width: 850px;
    }
  }

  &__media {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: block;
    outline: 0.18rem solid var(--clr-dark-cosmos-300);
    background-color: var(--clr-star-300);
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;

    &--small {
      aspect-ratio: 3 / 2;
    }

    &--scale-down {
      object-fit: scale-down;
      padding: 0.2rem;
    }
  }

  &__content {
    color: var(--clr-dark-cosmos-300);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  & .title{
      font-size: var(--fs-400);
  }

  &__assistance {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  &__detail-box {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;

    & .title{
      font-size: var(--fs-400);
    }

    & svg {
      margin: 0 0.5rem;
    }
  }

  &--ellipsis {
    @include abs.multiline-ellipsis(3);
  }

  &--scrolling {
    max-height: 5rem;
    overflow-y: scroll;
  }

  &__btn-bookmark {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    top: 1rem;
    right: 0.5rem;
    @include abs.font($font-size: var(--fs-600), $color: var(--clr-star-300));
    background-color: rgba(2, 0, 60, 0.15);
    border-radius: 3.125rem;

    & button {
      &:hover, &:active {
        cursor: pointer;
        & svg {
          color: var(--clr-main-300);
          transition: color 0.2s ease;
        }
      }
    }
  }

  @include abs.mq(medium) {
    &__container {
      flex-direction: row;
    }

    &__container:not(.landscape-card__container--article-card) {
      max-width: 430px;
      min-width: 430px;
    }

    &__media {
      width: 50%;
    }
  }

  @include abs.mq(xl) {
    &__container:not(.landscape-card__container--article-card)  {
      max-width: 600px;
      min-width: 600px;
    }
  }

  @include abs.mq(xxl) {
    &__container:not(.landscape-card__container--article-card)  {
      max-width: 800px;
      min-width: 800px;
    }
  }
}