@use "../abstracts/index" as abs;

.search {
  height: auto;
  width: 100%;
  @include abs.font($font-size: var(--fs-100));
  &__searchbar {
    box-sizing: inherit;
    width: 800px;
    padding: 13px;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--clr-star-200);
    &--small{
      width: 250px;
    }
    &:focus {
      outline: none;
      border: 1px solid var(--clr-dark-cosmos-300);
      & ~ div.search__btn-search {
        border: 1px solid var(--clr-dark-cosmos-300);
      }
    }
  }

  &__btn-search{
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    background-color: var(--clr-star-200);
  }
}