@use "../abstracts/index" as abs;

.select {
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2rem;
    justify-content: space-between;
    background-color: var(--clr-star-300);
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 15rem;
    height: 3.3125rem;
    color: var(--clr-dark-cosmos-300);

    &:not(.select__btn--yt-video){
      max-width: 15rem;
      margin: 0.2rem;
      padding: 1rem;
    }

    &--small {
      max-width: 7rem;
      min-width: 7rem;
      height: 2.7rem;
    }

    &--yt-video {
      width: 100%;
      color: var(--clr-star-300);
      background-color: var(--clr-yt-red);
      padding: 2rem 1rem;
    }
  }

  &__content {
    display: block;
    padding: 0.9375rem;
    margin-top: 0.9375rem;
    background: var(--clr-star-200);
    border-radius: 7px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    width: 15rem;
    color: var(--clr-dark-cosmos-300);
    z-index: 1;

    &:not(.select__content--full-width){
      position: absolute;
    }

    &--medium {
      width: 8rem;
    }

    &--full-width{
      width: 100%;
    }
  }
  &__search {
    position: relative;

    & svg {
      top: 50%;
      left: 15px;
      color: #bfbfbf;
      font-size: 20px;
      pointer-events: none;
      transform: translateY(-50%);
      position: absolute;
    }

    & input {
      height: 50px;
      width: 100%;
      outline: none;
      font-size: 17px;
      border-radius: 5px;
      padding: 0 20px 0 43px;
      border: 1px solid #B3B3B3;

      &:focus {
        padding-left: 42px;
        border: 2px solid var(--clr-dark-cosmos-300);
      }

      &::placeholder {
        color: #bfbfbf;
      }
    }
  }

  &__options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;

    & a {
      width: 100%;
      color: var(--clr-dark-cosmos-300);
    }

    & li, a {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 50px;
      padding: 0 0.8125rem;
      font-size: 0.8125rem;
      font-weight: 600;
      color: var(--clr-dark-cosmos-300);

      &:hover {
        border-radius: 5px;
        background: var(--clr-star-300);
      }

      &.selected {
        border-radius: 5px;
        background: var(--clr-star-300);
      }
    }
  }
}