@use "../../abstracts" as abs;

.portrait-card {
  &--vehicle {
    min-height: 400px;
    background-position: center center;
    background-size: cover;

    &__container {
      background-color: rgb(50 50 50 / 83%);
      width: 100%;
      height: 100%;
      text-align: center;
      color: var(--clr-star-300);
      font-size: 1rem;
      border: 0.2rem solid var(--clr-dark-cosmos-300);
      border-radius: 0.2rem;
      box-shadow: 0 0.35rem 0 var(--clr-dark-cosmos-300);
    }
  }

  @include abs.mq(small) {
    &--vehicle {
      max-width: max-content;
    }
  }

  @include abs.mq(xxl) {
    &--vehicle {
      max-width: 600px;
    }
  }
}